<h2 class="content-block">Listado Clientes</h2>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="true" [focusedRowEnabled]="true"
  [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="cliId" caption="Id">
  </dxi-column>
  <dxi-column dataField="cliTipoIdentificacion" caption="Tipo Identificación">
  </dxi-column>
  <dxi-column dataField="cliIdentificacion" caption="Identificación">
  </dxi-column>
  <dxi-column dataField="cliNombres" caption="Nombres">
  </dxi-column>
  <dxi-column dataField="cliApellidos" caption="Apellidos">
  </dxi-column>
  <dxi-column dataField="cliFechaNacimiento" dataType="date" caption="Fecha nacimiento" format="dd/MM/yyyy" >
  </dxi-column> 
</dx-data-grid>