<h2 class="content-block">Listado Facturas</h2>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="true" [focusedRowEnabled]="true"
  [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="facId" caption="Id">
  </dxi-column>
  <dxi-column dataField="facIdCliente" caption="id Cliente">
  </dxi-column>
  <dxi-column dataField="facFecha" dataType="date" caption="Fecha" format="dd/MM/yyyy" >
  </dxi-column>
  <dxi-column dataField="facTotal" caption="Total" dataType="number" format=",###,###" >
  </dxi-column>
</dx-data-grid>