<form>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Datos Detalle</div>
    <div class="dx-field">
      <div class="dx-field-label">Producto</div>
      <div class="dx-field-value">
        <dx-select-box [dataSource]="dataSourceProductos" displayExpr="proNombre" valueExpr="proId"
          [(value)]="idProducto"  (onValueChanged)="onValueChangeProducto()">
          <dx-validator>
            <dxi-validation-rule type="required" message="Producto es requerido"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
     
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Cantidad</div>
      <div class="dx-field-value">
          <dx-number-box
          [min]="0"
          [showSpinButtons]="false"
          [(value)]="cantidad"
          (onValueChanged)="onValueChangeCantidad()"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Valor</div>
      <div class="dx-field-value">
          <dx-number-box
          [min]="0"
          [readOnly]="true"
          [showSpinButtons]="false"
          [(value)]="valor"          
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Valor Total</div>
      <div class="dx-field-value">
          <dx-number-box
          [min]="0"
          [showSpinButtons]="false"
          [readOnly]="true"
          [(value)]="valorTotal"
        ></dx-number-box>
      </div>
    </div>


  </div>

  <div class="dx-fieldset">
    <dx-validation-summary id="summary"></dx-validation-summary>

    <dx-button id="button" text="Agregar Producto" type="success" (click)="agregarFacturaDetalle()" [useSubmitBehavior]="false">
    </dx-button>
  </div>
</form>